<h2>Inserción de nuevo jugador</h2>

<form #formJugador="ngForm" (ngSubmit)="onSubmit()">

  <label for="nombre">Nombre:</label>
  <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="jugador.nombre">

  <label for="email">email:</label>
  <input type="email" name="email" #email="ngModel" [(ngModel)]="jugador.email">

  <label for="password">password:</label>
  <input type="password" name="password" #password="ngModel" [(ngModel)]="jugador.password">

  <input type="submit" value="Guardar">

</form>

